.user-dashboard {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	min-height: 100%;
	gap: 16px;
	border-radius: 10px;
}

.user-dashboard ul {
	list-style-type: none;
	padding: 0;
}

.user-dashboard__section {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 16px;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.user-dashboard__section h2 {
	color: #333;
	font-size: 20px;
}

.user-balance {
	font-size: 24px;
	font-weight: 600;
	color: #007bff;
	background-color: #afecfa;
}

.user-dashboard__section ul {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.user-balance,
.user-dashboard__section li {
	display: flex;
	justify-content: space-between;
	padding: 16px;
	border-radius: 10px;
}

.user-dashboard__section li .amount {
	font-weight: bold;
}

.transfer.ingreso {
	background-color: #8ce99a;
}

.transfer:not(.ingreso) {
	background-color: #ff8787;
}

.payment {
	background-color: #ff8787;
}

.loan {
	background-color: #ff922b;
}
