/*! RESET */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
	max-width: 100%;
}

input,
button,
textarea,
select {
	font-family: 'Plus Jakarta Sans', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/*! GENERAL */
body {
	display: grid;
	grid-template-columns: 250px 1fr;
	grid-template-rows: 80px 1fr auto;
	min-height: 100vh;
}

/*! ASIDE */
aside {
	grid-row: 2;
	grid-column: 1;
	background-color: #fbfbfb;
	font-family: 'Plus Jakarta Sans', sans-serif;
	padding: 20px;
	overflow-y: auto;
}

aside h2 {
	margin-top: 0;
}

aside ul {
	list-style: none;
	padding: 0;
}

aside ul li {
	margin: 15px 0;
}

aside ul li a {
	text-decoration: none;
	color: 333333;
	font-weight: bold;
	display: block;
	padding: 10px;
	border-radius: 4px;
}

aside ul li a:hover {
	background-color: #afecfa;
}

/*! PAGINA PRINCIPAL */
main {
	grid-row: 2;
	grid-column: 2;
	min-height: calc(100vh - 80px);
	padding: 20px;
	background-color: #f5f6fa;
}

/*! EDITAR ICONOS MENO*/
.icon {
	margin-right: 8px;
	vertical-align: middle;
}

/*! EDITAR BOTON REGISTRAR*/
.register-button {
	background-color: #0283e9;
	color: white;
	border: none;
	padding: 5px 20px;
	font-size: 18px;
	border-radius: 10px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	gap: 10px;
	text-decoration: none;
}

.plus-sign {
	font-size: 20px;
}

.register-button:hover {
	background-color: #01cdfb;
}

/* !MAIN-CONTENT */
#main-content .user-dashboard {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	background-color: #f4f4f4;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#main-content .dashboard-section {
	margin-bottom: 20px;
}

#main-content .dashboard-section h3 {
	color: #333;
	border-bottom: 2px solid #007bff;
}

#main-content #user-balance {
	font-size: 24px;
	color: #007bff;
}

#main-content ul {
	list-style-type: none;
	padding: 0;
}

#main-content ul li {
	padding: 8px;
	border-bottom: 1px solid #ddd;
}

@media (max-width: 768px) {
	.user-dashboard {
		padding: 10px;
	}

	.dashboard-section h3 {
		font-size: 18px;
	}

	#user-balance {
		font-size: 20px;
	}
}

/* !FOOTER */
footer {
	grid-row: 3;
	grid-column: 1 / -1;
	background-color: rgb(255, 255, 255);
	font-family: 'Plus Jakarta Sans', sans-serif;
}

.footer-contenido {
	display: flex;
	justify-content: space-between;
	padding: 0 32px 32px;
}

.imagen-footer img {
	margin-top: 10px;
	height: 60px;
}

.copyright {
	font-size: 14px;
	padding: 5px;
}

.enlaces h2 {
	font-size: 17px;
	padding-top: 20px;
	padding-bottom: 0px;
	margin-bottom: 10px;
}

.enlaces {
	display: flex;
	flex-direction: column;
}

.enlaces a {
	text-decoration: none;
	color: #333333;
	padding-bottom: 7px;
}

.legal p {
	padding-bottom: 7px;
}

.footer-titulo {
	text-align: left;
}

.redes {
	display: flex;
	gap: 12px;
	padding: 20px 20px 0 20px;
}

.redes img {
	width: 30px;
	height: 30px;
}
@media (max-width: 800px) {
	main {
		margin-top: 80px;
	}
}

@media (max-width: 600px) {
	footer {
		flex-direction: column;
		align-items: flex-start;
		padding: 15px;
	}

	.footer-contenido {
		flex-direction: column;
		align-items: flex-start;
	}

	.logo {
		order: 1;
		padding: 5px 20px;
	}

	.copyright {
		order: 2;
		text-align: left;
		padding: 10px;
	}

	.redes {
		justify-content: flex-start;
	}

	.legal h2,
	.enlaces h2 {
		font-size: 15px;
	}

	.redes img {
		width: 25px;
		height: 25px;
	}

	.enlaces a {
		padding-bottom: 5px;
	}

	.copyright {
		font-size: 11px;
	}
}

@media (max-width: 400px) {
	.logo {
		padding: 5px 10px;
	}

	.redes img {
		width: 20px;
		height: 20px;
	}

	.legal h2,
	.enlaces h2 {
		font-size: 14px;
	}

	.enlaces {
		align-items: flex-start;
	}

	.enlaces a {
		padding-bottom: 5px;
		font-size: 13px;
	}

	.copyright {
		font-size: 10px;
		text-align: left;
	}
}

/*! FIN BOTON REGISTRAR*/
