/*! RESET */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
	max-width: 100%;
}

input,
button,
textarea,
select {
	font-family: 'Plus Jakarta Sans', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/*! GENERAL */
body {
	display: grid;
	grid-template-columns: 250px 1fr;
	grid-template-rows: 80px 1fr auto;
	min-height: 100vh;
	font-family: 'Plus Jakarta Sans', sans-serif;
}

/* !MAIN-CONTENT */
.main-content {
	grid-row: 2;
	grid-column: 2;
	min-height: calc(100vh - 80px);
	padding: 64px;
	background-color: #f5f6fa;
	border-start-start-radius: 10px;
}
.main-content .user-dashboard {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-direction: column;
	min-height: 100%;
	padding: 64px 32px;
	gap: 16px;
	margin: 20px auto;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-content .dashboard-section h3 {
	color: #333;
	border-bottom: 2px solid #007bff;
}

.main-content #user-balance {
	font-size: 24px;
	color: #007bff;
}

.main-content ul {
	list-style-type: none;
	padding: 0;
}

.main-content ul li {
	padding: 8px;
	border-bottom: 1px solid #ddd;
}

@media (max-width: 768px) {
}

@media (max-width: 800px) {
	.main-content {
		margin-top: 80px;
		padding: 48px;
	}

	.user-dashboard {
		padding: 10px;
	}

	.dashboard-section h3 {
		font-size: 18px;
	}

	#user-balance {
		font-size: 20px;
	}
}

@media screen and (max-width: 600px) {
	.main-content {
		padding: 32px;
	}
}

@media screen and (max-width: 400px) {
	.main-content {
		padding: 16px;
	}
}
